* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #00ff9c, #00e676);
}



.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffffff;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: #1d2671;
}

.tips {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 13px;
}

.tips p {
  margin: 5px 0;
}

.valid {
  color: #2ecc71;
}

.invalid {
  color: #e74c3c;
}

.btn-group {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: #1d2671;
  color: white;
}

button:hover {
  opacity: 0.9;
}

button.outline {
  background: transparent;
  border: 2px solid #1d2671;
  color: #1d2671;
}

.msg {
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  font-size: 14px;
}

.msg.success {
  background: #e8f8f1;
  color: #2ecc71;
}

.msg.error {
  background: #fdecea;
  color: #e74c3c;
}

.success-card {
  text-align: center;
}
